@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(252, 250, 233);
    width: 100%;
}

header:not(#logoimage){
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
#logoimage{
    width: 64px;
    height: auto;
}
#githublogo{
    width: 32px;
    height: auto;
}
#socialmedia{
    margin-left: 90%;
}
#rules{
    text-align: center;
}
footer{
    text-align: center;
}
#contactform{
    display: flex;
    justify-content: center !important;
}
#contactform input{
    width: 200px;
}
#containercontact{
    width: 100%;
    height: 100%;
}
#sources{
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(39, 24, 5);
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
    color: brown;
}
#about p{
    padding: 15px;
}
.produkt{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
.produkt img{
    width: 300px;
    height: auto;
}
#produkt1{
    border: 2px dotted black;
    padding: 5px; 
    width: 300px;
    height: 250px;  
    float: left;
}
#produkt2{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;   
    margin-left: 20px;
    float: left;
}
#produkt3{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;   
    margin-left: 20px;
    float: left;
}
#produkt4{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;    
    margin-left: 20px;
    float: left;
}