@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(252, 250, 233);
}

header:not(#logoimage){
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
#logoimage{
    width: 64px;
    height: auto;
}
#githublogo{
    width: 32px;
    height: auto;
}