@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(242, 252, 233);
    width: 100%;
}

header:not(#logoimage){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logoimage{
    width: 64px;
    height: auto;
}
#githublogo{
    width: 32px;
    height: auto;
    visibility: hidden;
}
#socialmedia{
    margin-left: 90%;
}
#rules{
    text-align: center;
}
footer{
    text-align: center;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
}
#contactform input{
    width: 200px;
}
#sources{
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(39, 24, 5);
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
    color: brown;
}
#about p{
    padding: 15px;
}
.produkt{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
.produkt img{
    width: 300px;
    height: auto;
}
#produkt1{
    border: 2px dotted black;
    padding: 5px; 
    width: 300px;
    height: 250px;  
    float: left;
}
#produkt2{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;   
    margin-left: 20px;
    float: left;
}
#produkt3{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;   
    margin-left: 20px;
    float: left;
}
#produkt4{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;    
    margin-left: 20px;
    float: left;
}
#produkt5{
    border: 2px dotted black;
    padding: 5px;
    width: 300px;
    height: 250px;    
    margin-left: 20px;
    float: left;
}
p{
    max-width: 1600px;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  @media (min-width:1001px){
  
    #phonemenu{
        display: none;
    }
    }
  
  @media (max-device-width:1000px){
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    *{
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        width: 100%;
    }
    .menu-button-container {
      display: flex;
      margin-left: 20px;
    }
    #logoimage{
        width: 64px;
        height: auto;
    }
    #rules{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #sources{
        text-align: center;
    }
    #about p{
        padding: 15px;
    }
    .produkt{
        margin-left: auto;
        margin-right: auto;
        width: 1300px;
    }
    .produkt img{
        width: 300px;
        height: auto;
    }
    #produkt1{
        border: 2px dotted black;
        padding: 5px; 
        width: 300px;
        height: 250px;  
        margin-left: 20px;
    }
    #produkt2{
        border: 2px dotted black;
        padding: 5px;
        width: 300px;
        height: 250px;   
        margin-left: 20px;
    }
    #produkt3{
        border: 2px dotted black;
        padding: 5px;
        width: 300px;
        height: 250px;   
        margin-left: 20px;
    }
    #produkt4{
        border: 2px dotted black;
        padding: 5px;
        width: 300px;
        height: 250px;    
        margin-left: 20px;
    }
    #produkt5{
        border: 2px dotted black;
        padding: 5px;
        width: 300px;
        height: 250px;    
        margin-left: 20px;
    }
    .visible{
        display: none;
        
    }
    #phonemenu{
        height: 100px;
    }
}